#form-padding {
  padding-bottom: 1rem;
}

#post-main {
  display: flex;
  background-color: black;
  height: 100vh;
  justify-content: center;
  color: $off-white;
  align-items: center;
  background-image: linear-gradient(
      to right bottom,
      rgba(25, 26, 25, 0.8),
      rgba(51, 51, 51, 0.8),
      rgba(64, 64, 64, 0.8)
    ),
    url("https://p0.piqsels.com/preview/59/373/316/person-typing-on-laptop-computer.jpg");
  background-size: cover;

  #money-div {
    opacity: 0.7;
    font-size: 1.3rem;
  }

  textarea {
    font-size: 1.1rem;
    height: 1.6rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    color: black;
    outline: none;
    width: 25rem;
  }

  button {
    height: 2rem;
    width: 7rem;
    font-size: 1.3rem;
    background-color: black;
    color: white;
    border-radius: 2rem;
    font-weight: 700;
    outline: none;
    border: 0.5px solid black;
    cursor: pointer;
  }
}
#post-secondary {
  display: flex;
  justify-content: center;
  height: 33rem;
  width: 29rem;
  animation: moveInLeft 0.5s;
  opacity: 0.9;
  border-radius: 0.5rem;
  background-color: white;
  color: black;
}

#form-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  input {
    font-size: 1rem;
    width: 25rem;
    height: 1.5rem;
    outline: none;
    border: none;
    background-color: transparent;
    color: black;
    border-bottom: 0.1px solid #999;
  }

  h2 {
    font-size: 1.4rem;
    font-family: sans-serif;
    padding-bottom: 0.6rem;
    color: #25699e;
  }
}

#form-secondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
}

#error-div {
  font-size: 1rem;
  color: red;
  font-weight: 400;
  padding-top: 0.1rem;
  height: 1rem;
}

// MEDIA QUERIES BELOW //

//media query 300 - 360px
@media screen and (min-width: 300px) and (max-width: 360px) {
  #post-main {
    display: flex;
    background-color: black;
    align-items: center;
    height: 100vh;
    justify-content: center;
  }

  #form-padding {
    padding-bottom: 2rem;
  }

  #post-main {
    textarea {
      font-size: 0.7rem;
      width: 13rem;
      height: 1rem;
      border: 0.1px solid #999;
    }

    #money-div {
      opacity: 0.7;
      font-size: 0.7rem;
    }

    button {
      height: 1.1rem;
      width: 4rem;
      font-size: 0.6rem;
    }
  }

  .form-input {
    padding: 0.5rem;
  }

  #post-secondary {
    height: 27rem;
    width: 15rem;
  }

  #form-main {
    h2 {
      font-size: 0.9rem;
      font-weight: 600;
      padding-bottom: 0.4rem;
    }

    input {
      font-size: 0.7rem;
      font-weight: 300;
      width: 13rem;
      height: 0.9rem;
      border: 0.1px solid #999;
    }
  }

  #error-div {
    font-size: 0.5rem;
    color: #ff3030;
    font-weight: 400;
    font-family: sans-serif;
  }
}

//media query 361 - 480px
@media screen and (min-width: 361px) and (max-width: 700px) {
  #post-main {
    display: flex;
    background-color: black;
    align-items: center;
    height: 100vh;
    justify-content: center;
  }

  #form-padding {
    padding-bottom: 2rem;
  }

  #money-div {
    opacity: 0.7;
    font-size: 0.56rem;
  }
  #post-main {
    textarea {
      font-size: 0.8rem;
      height: 1rem;
      width: 13rem;
      border: 0.1px solid #999;
    }

    #money-div {
      opacity: 0.8;
      font-size: 0.7rem;
    }

    button {
      height: 1.1rem;
      width: 4rem;
      font-size: 0.7rem;
    }
  }

  .form-input {
    padding: 0.6rem;
  }

  #post-secondary {
    height: 29.5rem;
    width: 16rem;
  }

  #form-main {
    h2 {
      font-size: 1rem;
      font-weight: 600;
      padding-bottom: 0.3rem;
    }

    input {
      font-size: 0.7rem;
      width: 13rem;
      height: 0.9rem;
      padding: 0.2rem;
      border: 0.1px solid #999;
    }
  }

  #error-div {
    font-size: 0.5rem;
    color: #ff3030;
    font-weight: 400;
    font-family: sans-serif;
  }
}

//media query - LANDSCAPE
@media only screen and (min-device-width: 400px) and (max-device-width: 600px) and (orientation: landscape) {
  #post-main {
    textarea {
      font-size: 0.8rem;
      height: 1rem;
      width: 13rem;
    }

    #form-padding {
      padding-top: 1rem;
    }

    #money-div {
      opacity: 0.6;
      font-size: 0.7rem;
    }

    button {
      height: 1rem;
      width: 4rem;
      font-size: 0.7rem;
    }
  }
  .form-input {
    padding: 0rem;
  }

  #post-secondary {
    height: 18rem;
    width: 15rem;
  }

  #form-main {
    h2 {
      font-size: 0.7rem;
      padding-bottom: 0.2rem;
    }

    input {
      font-size: 0.5rem;
      width: 13rem;
      height: 0.7rem;
      padding-top: 0.1rem;
      border: 0.1px solid #999;
    }
  }

  #error-div {
    font-size: 0.5rem;
    color: #ff3030;
    font-weight: 400;
    font-family: sans-serif;
  }
}

//media query - LANDSCAPE
@media only screen and (min-device-width: 600px) and (max-device-width: 768px) and (orientation: landscape) {
  #post-main {
    textarea {
      font-size: 0.8rem;
      height: 1rem;
      width: 13rem;
    }

    #money-div {
      opacity: 0.6;
      font-size: 0.7rem;
    }

    button {
      height: 1rem;
      width: 4rem;
      font-size: 0.7rem;
    }
  }
  .form-input {
    padding: 0rem;
  }

  #post-secondary {
    height: 18rem;
    width: 15rem;
  }

  #form-main {
    h2 {
      font-size: 0.7rem;
      padding-bottom: 0.2rem;
    }

    input {
      font-size: 0.5rem;
      width: 13rem;
      height: 0.9rem;
      padding-top: 0.1rem;
      border: 0.1px solid #999;
    }
  }

  #error-div {
    font-size: 0.5rem;
    color: #ff3030;
    font-weight: 400;
    font-family: sans-serif;
  }
}

//media query - LANDSCAPE
@media only screen and (min-device-width: 768px) and (max-device-width: 1000px) and (orientation: landscape) {
  #post-main {
    textarea {
      font-size: 0.7rem;
      height: 1rem;
      width: 13rem;
    }

    #money-div {
      opacity: 0.6;
      font-size: 0.7rem;
    }

    button {
      height: 1rem;
      width: 4rem;
      font-size: 0.7rem;
    }
  }
  .form-input {
    padding: 0rem;
  }

  #post-secondary {
    height: 20rem;
    width: 15rem;
  }

  #form-main {
    h2 {
      font-size: 0.9rem;
      padding-bottom: 0.2rem;
    }

    input {
      font-size: 0.6rem;
      width: 13rem;
      height: 0.9rem;
      padding-top: 0.1rem;
      border: 0.1px solid #999;
    }
  }

  #error-div {
    font-size: 0.5rem;
    color: #ff3030;
    font-weight: 400;
    font-family: sans-serif;
  }
}
