#form-padding {
  padding-bottom: 1rem;
}

#post-main {
  display: flex;
  background-color: black;
  height: 100vh;
  justify-content: center;
  color: $off-white;
  align-items: center;
  background-image: linear-gradient(
      to right bottom,
      rgba(25, 26, 25, 0.8),
      rgba(51, 51, 51, 0.8),
      rgba(64, 64, 64, 0.8)
    ),
    url("https://p0.piqsels.com/preview/59/373/316/person-typing-on-laptop-computer.jpg");
  // https://p0.piqsels.com/preview/59/373/316/person-typing-on-laptop-computer.jpg
  // https://miro.medium.com/max/2800/0*SJUI8Ntvn6D6WMDu.jpg
  background-size: cover;

  input {
    font-size: 1.3rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    outline: none;
  }

  textarea {
    font-size: 1.3rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    outline: none;
  }

  button {
    height: 2rem;
    width: 10rem;
    font-size: 1.3rem;
    background-color: #004dd1;
    color: white;
    border-radius: 2rem;
    font-weight: 700;
    outline: none;
    border: 0.5px solid black;
    cursor: pointer;
  }

  button:link,
  button:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    font-size: 1.6rem;
  }
}
#post-secondary {
  display: flex;
  justify-content: center;
  height: 41rem;
  width: 34rem;
  animation: moveInLeft 0.5s;
  opacity: 0.8;
  border-radius: 1rem;
  background-color: black;
}

#form-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  input {
    font-size: 1.2rem;
    height: 2rem;
    width: 30rem;
  }

  h2 {
    font-size: 1.8rem;
  }
}

#form-secondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.9rem;
}

#error-div {
  font-size: 0.9rem;
  color: #ff3030;
  font-weight: 400;
}

// MEDIA QUERIES BELOW //

//media query 300 - 360px
@media screen and (min-width: 300px) and (max-width: 360px) {
  #post-main {
    textarea {
      font-size: 0.7rem;
      width: 13rem;
    }

    button {
      height: 1.1rem;
      width: 5rem;
      font-size: 0.8rem;
    }
  }

  .form-input {
    padding: 0.3rem;
  }

  #post-secondary {
    height: 20rem;
    width: 16rem;
  }

  #form-main {
    h2 {
      font-size: 0.8rem;
    }

    input {
      font-size: 0.56rem;
      width: 13rem;
      height: 0.9rem;
      padding-top: 0.3rem;
    }
  }

  #error-div {
    font-size: 0.5rem;
    color: #ff3030;
    font-weight: 400;
    font-family: sans-serif;
  }
}

//media query 361 - 480px
@media screen and (min-width: 361px) and (max-width: 600px) {
  #post-main {
    textarea {
      font-size: 0.8rem;
      width: 13rem;
    }

    button {
      height: 1.1rem;
      width: 6rem;
      font-size: 0.7rem;
    }
  }

  .form-input {
    padding: 0.3rem;
  }

  #post-secondary {
    height: 23rem;
    width: 16rem;
  }

  #form-main {
    h2 {
      font-size: 1rem;
    }

    input {
      font-size: 0.7rem;
      width: 13rem;
      height: 0.9rem;
      padding-top: 0.3rem;
    }
  }

  #error-div {
    font-size: 0.5rem;
    color: #ff3030;
    font-weight: 400;
    font-family: sans-serif;
  }
}

//media query - LANDSCAPE
@media screen and (min-width: 480px) and (max-width: 600px) and (orientation: landscape) {
  #post-main {
    textarea {
      font-size: 0.8rem;
      width: 13rem;
    }

    button {
      height: 1rem;
      width: 6rem;
      font-size: 0.7rem;
    }
  }
  .form-input {
    padding: 0.1rem;
  }

  #post-secondary {
    height: 17rem;
    width: 20rem;
  }

  #form-main {
    h2 {
      font-size: 0.6rem;
    }

    input {
      font-size: 0.5rem;
      width: 13rem;
      height: 0.9rem;
      padding-top: 0.3rem;
    }
  }

  #error-div {
    font-size: 0.5rem;
    color: #ff3030;
    font-weight: 400;
    font-family: sans-serif;
  }
}

//media query - LANDSCAPE
@media screen and (min-width: 601px) and (max-width: 1000px) and (orientation: landscape) {
  #post-main {
    textarea {
      font-size: 0.9rem;
      width: 13rem;
    }

    button {
      height: 1rem;
      width: 6rem;
      font-size: 0.7rem;
    }
  }
  .form-input {
    padding: 0.1rem;
  }

  #post-secondary {
    height: 18rem;
    width: 20rem;
  }

  #form-main {
    h2 {
      font-size: 0.6rem;
    }

    input {
      font-size: 0.5rem;
      width: 13rem;
      height: 0.9rem;
      padding-top: 0.3rem;
    }
  }

  #error-div {
    font-size: 0.5rem;
    color: #ff3030;
    font-weight: 400;
    font-family: sans-serif;
  }

  #form-padding {
    padding-bottom: 2rem;
  }
}
