#all-main {
  display: flex;
  background-color: black;
  height: 100vh;
  justify-content: center;
  color: $off-white;
  align-items: center;

  background-image: linear-gradient(
      to right bottom,
      rgba(25, 26, 25, 0.8),
      rgba(51, 51, 51, 0.8),
      rgba(64, 64, 64, 0.8)
    ),
    url("https://p0.piqsels.com/preview/59/373/316/person-typing-on-laptop-computer.jpg");
  // https://p0.piqsels.com/preview/59/373/316/person-typing-on-laptop-computer.jpg
  // https://miro.medium.com/max/2800/0*SJUI8Ntvn6D6WMDu.jpg
  background-size: cover;
}

#all-secondary {
  display: flex;
  padding-bottom: 1rem;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  color: green;
  height: 35rem;
  width: 60rem;
  border-radius: 10%;
  opacity: 0.8;
  background-color: black;

  ul {
    list-style-type: none;
  }
}

#test1 {
  background-color: white;
  // height: 3rem;
}

#test2 {
  padding: 1rem;
}
