#navbar-main {
  background-color: black;
  opacity: 0.8;

  a {
    color: $off-white;
    text-decoration: none;
  }
}

nav ul {
  display: block;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

nav ul li {
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.3rem;
  font-family: sans-serif;
}

#toggle {
  color: white;
  background-color: black;
  width: 100%;
  padding: 2px 20px;
  text-align: right;
  box-sizing: border-box;
  font-size: 2rem;
  display: none;
}

/// MEDIA QUERY BELOW ///
// media query 768px
@media (max-width: 768px) {
  #toggle {
    display: block;
  }

  #navbar-main {
    background-color: #111111;
  }

  #navbar-div {
    nav ul {
      // display: block;
      display: none;
      width: 100%;
    }

    nav ul li {
      display: block;
      text-align: center;
      padding: 0.3rem;
      font-family: sans-serif;
      font-size: 0.8rem;
    }
  }

  .active {
    display: block;
  }
}
