#query-error-div {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#query-error {
  display: flex;
  flex-direction: column;
  height: 24rem;
  //   width: 20rem;
  //   color: #7d79ff;
  color: #efcf00;

  p {
    font-size: 1.3rem;
    font-weight: 600;
  }

  a:hover {
    color: white;
    text-decoration: none;
  }

  a {
    // color: #efcf00;
    color: #7d79ff;
  }
}

#query-face {
  font-size: 9rem;
  color: white;
  padding-bottom: 1rem;
}

// MEDIA QUERIES BELOW //
//media query - 360px
@media screen and (max-width: 360px) {
  #query-error {
    p {
      font-size: 0.7rem;
      font-weight: 600;
      text-align: center;
    }
  }

  #query-face {
    font-size: 6rem;
    color: white;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
}

//media query - 480px
@media screen and (max-width: 480px) {
  #query-error {
    p {
      font-size: 0.8rem;
      font-weight: 600;
      text-align: center;
    }
  }

  #query-face {
    font-size: 6rem;
    color: white;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
}

//media query - 481 - 715PX
@media screen and (min-width: 481px) and (max-width: 715px) {
  #query-error {
    p {
      font-size: 0.8rem;
      font-weight: 600;
      text-align: center;
    }
  }

  #query-face {
    font-size: 6rem;
    color: white;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
}

//media query 768 - 769px
@media screen and (min-width: 768px) and (max-width: 769px) {
  #query-error {
    p {
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
    }
  }

  #query-face {
    font-size: 6rem;
    color: white;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
}
